.elementor-22581 .elementor-element.elementor-element-2e262e82 {
  --display: flex;
  --min-height: 100vh;
  --flex-direction: column;
  --container-widget-width: 100%;
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --flex-wrap-mobile: wrap;
  --justify-content: center;
}

.elementor-22581 .elementor-element.elementor-element-2e262e82 .elementor-background-slideshow__slide__image {
  background-size: contain;
  background-position: center center;
}

.elementor-22581 .elementor-element.elementor-element-37cbf52c {
  --display: flex;
  border-style: solid;
  --border-style: solid;
  border-width: 1px 1px 1px 1px;
  --border-top-width: 1px;
  --border-right-width: 1px;
  --border-bottom-width: 1px;
  --border-left-width: 1px;
  border-color: #ffffff;
  --border-color: #ffffff;
  --border-radius: 10px 10px 10px 10px;
  --padding-top: 40px;
  --padding-bottom: 40px;
  --padding-left: 40px;
  --padding-right: 40px;
}

.elementor-22581 .elementor-element.elementor-element-37cbf52c:not(.elementor-motion-effects-element-type-background),
.elementor-22581
  .elementor-element.elementor-element-37cbf52c
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #0000003c;
}

.elementor-widget-heading .elementor-heading-title {
  font-family: var(--e-global-typography-primary-font-family), Sans-serif;
  font-weight: var(--e-global-typography-primary-font-weight);
  color: var(--e-global-color-primary);
}

.elementor-22581 .elementor-element.elementor-element-64597584 > .elementor-widget-container {
  margin: 40px 0px 0px 0px;
}

.elementor-22581 .elementor-element.elementor-element-64597584 {
  text-align: center;
}

.elementor-22581 .elementor-element.elementor-element-64597584 .elementor-heading-title {
  font-family: "Noto Serif Display", Sans-serif;
  font-size: 70px;
  font-weight: 400;
  color: #ffffff;
}

.elementor-22581 .elementor-element.elementor-element-3871d4e6.elementor-element {
  --align-self: center;
}

.elementor-22581 .elementor-element.elementor-element-56431bb9 {
  text-align: center;
}

.elementor-22581 .elementor-element.elementor-element-56431bb9 .elementor-heading-title {
  font-family: "WindSong", Sans-serif;
  font-weight: 300;
  color: #ffffff;
}

.elementor-22581 .elementor-element.elementor-element-5f2c30fa {
  --display: flex;
  --flex-direction: row;
  --container-widget-width: calc((1 - var(--container-widget-flex-grow)) * 100%);
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --flex-wrap-mobile: wrap;
  --justify-content: space-between;
  --align-items: center;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-left: 0px;
  --padding-right: 0px;
}

.elementor-22581 .elementor-element.elementor-element-4670b1fd > .elementor-widget-container {
  padding: 5px 40px 5px 40px;
  border-style: solid;
  border-width: 1px 0px 1px 0px;
  border-color: #ffffff;
}

.elementor-22581 .elementor-element.elementor-element-4670b1fd .elementor-heading-title {
  font-family: "Noto Serif Display", Sans-serif;
  font-weight: 400;
  color: #ffffff;
}

.elementor-22581 .elementor-element.elementor-element-3cb97ab4 > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
}

.elementor-22581 .elementor-element.elementor-element-3cb97ab4 {
  text-align: center;
}

.elementor-22581 .elementor-element.elementor-element-3cb97ab4 .elementor-heading-title {
  font-family: "Noto Serif Display", Sans-serif;
  font-size: 57px;
  font-weight: 600;
  color: #ffffff;
}

.elementor-22581 .elementor-element.elementor-element-54acc476 > .elementor-widget-container {
  padding: 5px 40px 5px 40px;
  border-style: solid;
  border-width: 1px 0px 1px 0px;
  border-color: #ffffff;
}

.elementor-22581 .elementor-element.elementor-element-54acc476 .elementor-heading-title {
  font-family: "Noto Serif Display", Sans-serif;
  font-weight: 400;
  color: #ffffff;
}

.elementor-22581 .elementor-element.elementor-element-74300e64 {
  text-align: center;
}

.elementor-22581 .elementor-element.elementor-element-74300e64 .elementor-heading-title {
  font-family: "WindSong", Sans-serif;
  font-weight: 300;
  color: #ffffff;
}

.elementor-widget-countdown .elementor-countdown-item {
  background-color: var(--e-global-color-primary);
}

.elementor-widget-countdown .elementor-countdown-digits {
  font-family: var(--e-global-typography-text-font-family), Sans-serif;
  font-weight: var(--e-global-typography-text-font-weight);
}

.elementor-widget-countdown .elementor-countdown-label {
  font-family: var(--e-global-typography-secondary-font-family), Sans-serif;
  font-weight: var(--e-global-typography-secondary-font-weight);
}

.elementor-widget-countdown .elementor-countdown-expire--message {
  color: var(--e-global-color-text);
  font-family: var(--e-global-typography-text-font-family), Sans-serif;
  font-weight: var(--e-global-typography-text-font-weight);
}

.elementor-22581 .elementor-element.elementor-element-1b387eb .elementor-countdown-wrapper {
  max-width: 100%;
}

.elementor-22581 .elementor-element.elementor-element-1b387eb .elementor-countdown-item {
  background-color: #b2788000;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #ffffff;
  border-radius: 100px 100px 100px 100px;
  padding: 25px 10px 15px 10px;
}

body:not(.rtl)
  .elementor-22581
  .elementor-element.elementor-element-1b387eb
  .elementor-countdown-item:not(:first-of-type) {
  margin-left: calc(30px / 2);
}

body:not(.rtl)
  .elementor-22581
  .elementor-element.elementor-element-1b387eb
  .elementor-countdown-item:not(:last-of-type) {
  margin-right: calc(30px / 2);
}

body.rtl .elementor-22581 .elementor-element.elementor-element-1b387eb .elementor-countdown-item:not(:first-of-type) {
  margin-right: calc(30px / 2);
}

body.rtl .elementor-22581 .elementor-element.elementor-element-1b387eb .elementor-countdown-item:not(:last-of-type) {
  margin-left: calc(30px / 2);
}

.elementor-22581 .elementor-element.elementor-element-1b387eb .elementor-countdown-digits {
  color: #ffffff;
  font-family: "Noto Serif Display", Sans-serif;
  font-size: 40px;
  font-weight: 400;
}

.elementor-22581 .elementor-element.elementor-element-1b387eb .elementor-countdown-label {
  color: #ffffff;
  font-family: "Quicksand", Sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 40px;
}

.elementor-22581 .elementor-element.elementor-element-582536c1 {
  --display: flex;
  --flex-direction: column;
  --container-widget-width: 100%;
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --flex-wrap-mobile: wrap;
  --padding-top: 0px;
  --padding-bottom: 100px;
  --padding-left: 10px;
  --padding-right: 10px;
}

.elementor-22581 .elementor-element.elementor-element-42132563 {
  --display: flex;
  --flex-direction: column;
  --container-widget-width: calc((1 - var(--container-widget-flex-grow)) * 100%);
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --flex-wrap-mobile: wrap;
  --align-items: center;
  --border-radius: 100px 100px 10px 10px;
  --padding-top: 0px;
  --padding-bottom: 20px;
  --padding-left: 0px;
  --padding-right: 0px;
}

.elementor-22581 .elementor-element.elementor-element-42132563:not(.elementor-motion-effects-element-type-background),
.elementor-22581
  .elementor-element.elementor-element-42132563
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #fcf5f2;
}

.elementor-22581 .elementor-element.elementor-element-4d7d7872 {
  --display: flex;
  --flex-direction: column;
  --container-widget-width: calc((1 - var(--container-widget-flex-grow)) * 100%);
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --flex-wrap-mobile: wrap;
  --align-items: center;
  --overlay-opacity: 0;
  --border-radius: 100px 100px 0px 0px;
}

.elementor-22581 .elementor-element.elementor-element-4d7d7872:not(.elementor-motion-effects-element-type-background),
.elementor-22581
  .elementor-element.elementor-element-4d7d7872
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #fcf5f2;
}

.elementor-22581 .elementor-element.elementor-element-4d7d7872::before,
.elementor-22581 .elementor-element.elementor-element-4d7d7872 > .elementor-background-video-container::before,
.elementor-22581
  .elementor-element.elementor-element-4d7d7872
  > .e-con-inner
  > .elementor-background-video-container::before,
.elementor-22581 .elementor-element.elementor-element-4d7d7872 > .elementor-background-slideshow::before,
.elementor-22581 .elementor-element.elementor-element-4d7d7872 > .e-con-inner > .elementor-background-slideshow::before,
.elementor-22581
  .elementor-element.elementor-element-4d7d7872
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer::before {
  background-color: #000000;
  --background-overlay: "";
}

.elementor-22581 .elementor-element.elementor-element-3ca1f413 > .elementor-widget-container {
  padding: 50px 50px 10px 50px;
  border-style: none;
}

.elementor-22581 .elementor-element.elementor-element-3ca1f413 {
  text-align: center;
}

.elementor-22581 .elementor-element.elementor-element-3ca1f413 .elementor-heading-title {
  font-family: "Noto Serif Display", Sans-serif;
  font-size: 31px;
  font-weight: 800;
  color: #6d3e28;
}

.elementor-22581 .elementor-element.elementor-element-442554d1 > .elementor-widget-container {
  padding: 5px 50px 50px 50px;
  border-style: none;
}

.elementor-22581 .elementor-element.elementor-element-442554d1 {
  text-align: center;
}

.elementor-22581 .elementor-element.elementor-element-442554d1 .elementor-heading-title {
  font-family: "Quicksand", Sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5em;
  color: #6d3e28;
}

.elementor-22581 .elementor-element.elementor-element-6544f6f9 {
  --display: flex;
  --border-radius: 10px 10px 10px 10px;
  --padding-top: 30px;
  --padding-bottom: 30px;
  --padding-left: 30px;
  --padding-right: 30px;
}

.elementor-22581 .elementor-element.elementor-element-6544f6f9:not(.elementor-motion-effects-element-type-background),
.elementor-22581
  .elementor-element.elementor-element-6544f6f9
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #ffffff;
}

.elementor-widget-image .widget-image-caption {
  color: var(--e-global-color-text);
  font-family: var(--e-global-typography-text-font-family), Sans-serif;
  font-weight: var(--e-global-typography-text-font-weight);
}

.elementor-22581 .elementor-element.elementor-element-18a9a885 {
  width: var(--container-widget-width, 40%);
  max-width: 40%;
  --container-widget-width: 40%;
  --container-widget-flex-grow: 0;
}

.elementor-22581 .elementor-element.elementor-element-18a9a885.elementor-element {
  --align-self: center;
}

.elementor-22581 .elementor-element.elementor-element-18a9a885 img {
  border-radius: 100% 100% 0% 0%;
}

.elementor-22581 .elementor-element.elementor-element-a5c0199 > .elementor-widget-container {
  border-style: none;
}

.elementor-22581 .elementor-element.elementor-element-a5c0199 {
  text-align: center;
}

.elementor-22581 .elementor-element.elementor-element-a5c0199 .elementor-heading-title {
  font-family: "Noto Serif Display", Sans-serif;
  font-size: 30px;
  font-weight: 400;
  color: #6e6e6e;
}

.elementor-22581 .elementor-element.elementor-element-77d49543 > .elementor-widget-container {
  padding: 0px 0px 0px 0px;
  border-style: none;
}

.elementor-22581 .elementor-element.elementor-element-77d49543 {
  text-align: center;
}

.elementor-22581 .elementor-element.elementor-element-77d49543 .elementor-heading-title {
  font-family: "Quicksand", Sans-serif;
  font-weight: 400;
  color: #6e6e6e;
}

.elementor-22581 .elementor-element.elementor-element-2d16e6d0 > .elementor-widget-container {
  padding: 0px 0px 0px 0px;
  border-style: none;
}

.elementor-22581 .elementor-element.elementor-element-2d16e6d0 {
  text-align: center;
}

.elementor-22581 .elementor-element.elementor-element-2d16e6d0 .elementor-heading-title {
  font-family: "Quicksand", Sans-serif;
  font-weight: 800;
  color: #6e6e6e;
}

.elementor-22581 .elementor-element.elementor-element-1c3ae071 {
  --display: flex;
  --flex-direction: row;
  --container-widget-width: calc((1 - var(--container-widget-flex-grow)) * 100%);
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --flex-wrap-mobile: wrap;
  --justify-content: center;
  --align-items: center;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-left: 0px;
  --padding-right: 0px;
}

.elementor-22581 .elementor-element.elementor-element-15f07f27 > .elementor-widget-container {
  padding: 5px 50px 5px 50px;
  border-style: solid;
  border-width: 1px 0px 1px 0px;
  border-color: #6d3e28;
}

.elementor-22581 .elementor-element.elementor-element-15f07f27 .elementor-heading-title {
  font-family: "Noto Serif Display", Sans-serif;
  font-weight: 400;
  color: #6d3e28;
}

.elementor-22581 .elementor-element.elementor-element-78f6e038 > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
}

.elementor-22581 .elementor-element.elementor-element-78f6e038 {
  text-align: center;
}

.elementor-22581 .elementor-element.elementor-element-78f6e038 .elementor-heading-title {
  font-family: "Noto Serif Display", Sans-serif;
  font-size: 57px;
  font-weight: 600;
  color: #6d3e28;
}

.elementor-22581 .elementor-element.elementor-element-518f1593 > .elementor-widget-container {
  padding: 5px 50px 5px 50px;
  border-style: solid;
  border-width: 1px 0px 1px 0px;
  border-color: #6d3e28;
}

.elementor-22581 .elementor-element.elementor-element-518f1593 .elementor-heading-title {
  font-family: "Noto Serif Display", Sans-serif;
  font-weight: 400;
  color: #6d3e28;
}

.elementor-22581 .elementor-element.elementor-element-257d889b > .elementor-widget-container {
  padding: 0px 0px 0px 0px;
  border-style: none;
}

.elementor-22581 .elementor-element.elementor-element-257d889b {
  text-align: center;
}

.elementor-22581 .elementor-element.elementor-element-257d889b .elementor-heading-title {
  font-family: "Quicksand", Sans-serif;
  font-weight: 400;
  font-style: italic;
  color: #6e6e6e;
}

.elementor-22581 .elementor-element.elementor-element-753926d {
  --display: flex;
  --border-radius: 10px 10px 10px 10px;
  --padding-top: 30px;
  --padding-bottom: 30px;
  --padding-left: 30px;
  --padding-right: 30px;
}

.elementor-22581 .elementor-element.elementor-element-753926d:not(.elementor-motion-effects-element-type-background),
.elementor-22581
  .elementor-element.elementor-element-753926d
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #ffffff;
}

.elementor-22581 .elementor-element.elementor-element-bcb206d {
  width: var(--container-widget-width, 40%);
  max-width: 40%;
  --container-widget-width: 40%;
  --container-widget-flex-grow: 0;
}

.elementor-22581 .elementor-element.elementor-element-bcb206d.elementor-element {
  --align-self: center;
}

.elementor-22581 .elementor-element.elementor-element-bcb206d img {
  border-radius: 100% 100% 0% 0%;
}

.elementor-22581 .elementor-element.elementor-element-e996504 > .elementor-widget-container {
  border-style: none;
}

.elementor-22581 .elementor-element.elementor-element-e996504 {
  text-align: center;
}

.elementor-22581 .elementor-element.elementor-element-e996504 .elementor-heading-title {
  font-family: "Noto Serif Display", Sans-serif;
  font-size: 30px;
  font-weight: 400;
  color: #6e6e6e;
}

.elementor-22581 .elementor-element.elementor-element-e20e5d6 > .elementor-widget-container {
  padding: 0px 0px 0px 0px;
  border-style: none;
}

.elementor-22581 .elementor-element.elementor-element-e20e5d6 {
  text-align: center;
}

.elementor-22581 .elementor-element.elementor-element-e20e5d6 .elementor-heading-title {
  font-family: "Quicksand", Sans-serif;
  font-weight: 400;
  color: #6e6e6e;
}

.elementor-22581 .elementor-element.elementor-element-128b803 > .elementor-widget-container {
  padding: 0px 0px 0px 0px;
  border-style: none;
}

.elementor-22581 .elementor-element.elementor-element-128b803 {
  text-align: center;
}

.elementor-22581 .elementor-element.elementor-element-128b803 .elementor-heading-title {
  font-family: "Quicksand", Sans-serif;
  font-weight: 800;
  color: #6e6e6e;
}

.elementor-22581 .elementor-element.elementor-element-e39a3a2 {
  --display: flex;
  --flex-direction: row;
  --container-widget-width: calc((1 - var(--container-widget-flex-grow)) * 100%);
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --flex-wrap-mobile: wrap;
  --justify-content: center;
  --align-items: center;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-left: 0px;
  --padding-right: 0px;
}

.elementor-22581 .elementor-element.elementor-element-68fafb3 > .elementor-widget-container {
  padding: 5px 50px 5px 50px;
  border-style: solid;
  border-width: 1px 0px 1px 0px;
  border-color: #6d3e28;
}

.elementor-22581 .elementor-element.elementor-element-68fafb3 .elementor-heading-title {
  font-family: "Noto Serif Display", Sans-serif;
  font-weight: 400;
  color: #6d3e28;
}

.elementor-22581 .elementor-element.elementor-element-c0d8529 > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
}

.elementor-22581 .elementor-element.elementor-element-c0d8529 {
  text-align: center;
}

.elementor-22581 .elementor-element.elementor-element-c0d8529 .elementor-heading-title {
  font-family: "Noto Serif Display", Sans-serif;
  font-size: 57px;
  font-weight: 600;
  color: #6d3e28;
}

.elementor-22581 .elementor-element.elementor-element-21d5b91 > .elementor-widget-container {
  padding: 5px 50px 5px 50px;
  border-style: solid;
  border-width: 1px 0px 1px 0px;
  border-color: #6d3e28;
}

.elementor-22581 .elementor-element.elementor-element-21d5b91 .elementor-heading-title {
  font-family: "Noto Serif Display", Sans-serif;
  font-weight: 400;
  color: #6d3e28;
}

.elementor-22581 .elementor-element.elementor-element-eeabbc1 > .elementor-widget-container {
  padding: 0px 0px 0px 0px;
  border-style: none;
}

.elementor-22581 .elementor-element.elementor-element-eeabbc1 {
  text-align: center;
}

.elementor-22581 .elementor-element.elementor-element-eeabbc1 .elementor-heading-title {
  font-family: "Quicksand", Sans-serif;
  font-weight: 400;
  font-style: italic;
  color: #6e6e6e;
}

.elementor-22581 .elementor-element.elementor-element-13a8c63c {
  --display: flex;
  --flex-direction: column;
  --container-widget-width: 100%;
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --flex-wrap-mobile: wrap;
  --padding-top: 100px;
  --padding-bottom: 100px;
  --padding-left: 0px;
  --padding-right: 0px;
}

.elementor-22581 .elementor-element.elementor-element-5b771fec {
  text-align: center;
}

.elementor-22581 .elementor-element.elementor-element-5b771fec .elementor-heading-title {
  font-family: "Noto Serif Display", Sans-serif;
  font-weight: 800;
  color: #6d3e28;
}

.elementor-22581 .elementor-element.elementor-element-7da0439d > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  border-style: none;
}

.elementor-22581 .elementor-element.elementor-element-7da0439d {
  text-align: center;
}

.elementor-22581 .elementor-element.elementor-element-7da0439d .elementor-heading-title {
  font-family: "Quicksand", Sans-serif;
  font-weight: 400;
  line-height: 1.5em;
  color: #352a2a;
}

.elementor-widget-gallery .elementor-gallery-item__title {
  font-family: var(--e-global-typography-primary-font-family), Sans-serif;
  font-weight: var(--e-global-typography-primary-font-weight);
}

.elementor-widget-gallery .elementor-gallery-item__description {
  font-family: var(--e-global-typography-text-font-family), Sans-serif;
  font-weight: var(--e-global-typography-text-font-weight);
}

.elementor-widget-gallery {
  --galleries-title-color-normal: var(--e-global-color-primary);
  --galleries-title-color-hover: var(--e-global-color-secondary);
  --galleries-pointer-bg-color-hover: var(--e-global-color-accent);
  --gallery-title-color-active: var(--e-global-color-secondary);
  --galleries-pointer-bg-color-active: var(--e-global-color-accent);
}

.elementor-widget-gallery .elementor-gallery-title {
  font-family: var(--e-global-typography-primary-font-family), Sans-serif;
  font-weight: var(--e-global-typography-primary-font-weight);
}

.elementor-22581 .elementor-element.elementor-element-215f01a3 .e-gallery-item:hover .elementor-gallery-item__overlay,
.elementor-22581 .elementor-element.elementor-element-215f01a3 .e-gallery-item:focus .elementor-gallery-item__overlay {
  background-color: rgba(0, 0, 0, 0.5);
}

.elementor-22581 .elementor-element.elementor-element-215f01a3 {
  --image-transition-duration: 800ms;
  --overlay-transition-duration: 800ms;
  --content-text-align: center;
  --content-padding: 20px;
  --content-transition-duration: 800ms;
  --content-transition-delay: 800ms;
}

.elementor-22581 .elementor-element.elementor-element-7cbe0493 {
  --display: flex;
  --flex-direction: column;
  --container-widget-width: 100%;
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --flex-wrap-mobile: wrap;
  --padding-top: 100px;
  --padding-bottom: 100px;
  --padding-left: 0px;
  --padding-right: 0px;
}

.elementor-22581 .elementor-element.elementor-element-4bef3884 > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
}

.elementor-22581 .elementor-element.elementor-element-4bef3884.elementor-element {
  --order: -99999 /* order start hack */;
}

.elementor-22581 .elementor-element.elementor-element-4bef3884 {
  text-align: center;
}

.elementor-22581 .elementor-element.elementor-element-4bef3884 .elementor-heading-title {
  font-family: "Noto Serif Display", Sans-serif;
  font-weight: 800;
  color: #6d3e28;
}

.elementor-22581 .elementor-element.elementor-element-3f0ddbfe {
  --display: flex;
  --flex-direction: row;
  --container-widget-width: initial;
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --flex-wrap-mobile: wrap;
}

.elementor-22581 .elementor-element.elementor-element-703a760f {
  width: var(--container-widget-width, 50%);
  max-width: 50%;
  --container-widget-width: 50%;
  --container-widget-flex-grow: 0;
}

.elementor-22581 .elementor-element.elementor-element-703a760f img {
  border-radius: 20px 20px 20px 20px;
}

.elementor-22581 .elementor-element.elementor-element-412ce5a4 {
  width: var(--container-widget-width, 50%);
  max-width: 50%;
  --container-widget-width: 50%;
  --container-widget-flex-grow: 0;
}

.elementor-22581 .elementor-element.elementor-element-412ce5a4 img {
  border-radius: 20px 20px 20px 20px;
}

.elementor-22581 .elementor-element.elementor-element-791f2a52 {
  --display: flex;
  --flex-direction: column;
  --container-widget-width: 100%;
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --flex-wrap-mobile: wrap;
  --overlay-opacity: 0.3;
  --padding-top: 200px;
  --padding-bottom: 200px;
  --padding-left: 10px;
  --padding-right: 10px;
}

.elementor-22581 .elementor-element.elementor-element-791f2a52:not(.elementor-motion-effects-element-type-background),
.elementor-22581
  .elementor-element.elementor-element-791f2a52
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-image: url("./image/1O4A1322.jpg");
  background-position: center -700px;
  background-size: cover;
}

.elementor-22581 .elementor-element.elementor-element-791f2a52::before,
.elementor-22581 .elementor-element.elementor-element-791f2a52 > .elementor-background-video-container::before,
.elementor-22581
  .elementor-element.elementor-element-791f2a52
  > .e-con-inner
  > .elementor-background-video-container::before,
.elementor-22581 .elementor-element.elementor-element-791f2a52 > .elementor-background-slideshow::before,
.elementor-22581 .elementor-element.elementor-element-791f2a52 > .e-con-inner > .elementor-background-slideshow::before,
.elementor-22581
  .elementor-element.elementor-element-791f2a52
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer::before {
  background-color: #000000;
  --background-overlay: "";
}

.elementor-22581 .elementor-element.elementor-element-2de02c0d > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
}

.elementor-22581 .elementor-element.elementor-element-2de02c0d {
  text-align: center;
}

.elementor-22581 .elementor-element.elementor-element-2de02c0d .elementor-heading-title {
  font-family: "Noto Serif Display", Sans-serif;
  font-size: 70px;
  font-weight: 400;
  color: #ffffff;
}

.elementor-22581 .elementor-element.elementor-element-4595b753 {
  text-align: center;
}

.elementor-22581 .elementor-element.elementor-element-4595b753 .elementor-heading-title {
  font-family: "Quicksand", Sans-serif;
  font-weight: 400;
  color: #ffffff;
}

.elementor-22581 .elementor-element.elementor-element-151c5b3b > .elementor-widget-container {
  margin: 100px 0px 0px 0px;
}

.elementor-22581 .elementor-element.elementor-element-151c5b3b {
  text-align: center;
}

.elementor-22581 .elementor-element.elementor-element-151c5b3b .elementor-heading-title {
  font-family: "Quicksand", Sans-serif;
  font-weight: 400;
  color: #ffffff;
}

.elementor-22581 .elementor-element.elementor-element-1e120b02 {
  --alignment: center;
  --grid-side-margin: 10px;
  --grid-column-gap: 10px;
  --grid-row-gap: 10px;
  --grid-bottom-margin: 10px;
  --e-share-buttons-primary-color: #ffffff;
}

.elementor-22581 .elementor-element.elementor-element-1e120b02 .elementor-share-btn {
  border-width: 1px;
}

.elementor-22581 .elementor-element.elementor-element-653aa5a7 {
  width: var(--container-widget-width, 45px);
  max-width: 45px;
  --container-widget-width: 45px;
  --container-widget-flex-grow: 0;
  bottom: 30px;
}

.elementor-22581 .elementor-element.elementor-element-653aa5a7 > .elementor-widget-container {
  background-color: #351e13;
  padding: 0px 0px 0px 0px;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: var(--e-global-color-accent);
  border-radius: 100px 100px 100px 100px;
}

.elementor-22581 .elementor-element.elementor-element-653aa5a7.elementor-element {
  --align-self: flex-start;
}

body:not(.rtl) .elementor-22581 .elementor-element.elementor-element-653aa5a7 {
  left: 30px;
}

body.rtl .elementor-22581 .elementor-element.elementor-element-653aa5a7 {
  right: 30px;
}

.elementor-22581 .elementor-element.elementor-element-22f2eebf {
  text-align: center;
}

.elementor-22581 .elementor-element.elementor-element-22f2eebf .elementor-heading-title {
  font-family: "Quicksand", Sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  color: #ffffff;
}

@media (max-width: 1024px) {
  .elementor-22581 .elementor-element.elementor-element-442554d1 > .elementor-widget-container {
    margin: 20px 20px 20px 20px;
    padding: 0px 0px 0px 0px;
  }

  .elementor-22581 .elementor-element.elementor-element-7da0439d > .elementor-widget-container {
    padding: 0px 0px 0px 0px;
  }

  .elementor-22581 .elementor-element.elementor-element-4595b753 .elementor-heading-title {
    font-size: 16px;
  }

  .elementor-22581 .elementor-element.elementor-element-1e120b02 {
    --grid-side-margin: 10px;
    --grid-column-gap: 10px;
    --grid-row-gap: 10px;
    --grid-bottom-margin: 10px;
  }

  .elementor-22581 .elementor-element.elementor-element-22f2eebf .elementor-heading-title {
    font-size: 16px;
  }
}

@media (min-width: 768px) {
  .elementor-22581 .elementor-element.elementor-element-2e262e82 {
    --content-width: 530px;
  }

  .elementor-22581 .elementor-element.elementor-element-582536c1 {
    --content-width: 900px;
  }

  .elementor-22581 .elementor-element.elementor-element-6544f6f9 {
    --width: 96%;
  }

  .elementor-22581 .elementor-element.elementor-element-753926d {
    --width: 96%;
  }

  .elementor-22581 .elementor-element.elementor-element-7cbe0493 {
    --content-width: 600px;
  }

  .elementor-22581 .elementor-element.elementor-element-3f0ddbfe {
    --width: 100%;
  }
}

@media (max-width: 767px) {
  .elementor-22581 .elementor-element.elementor-element-37cbf52c {
    --padding-top: 20px;
    --padding-bottom: 20px;
    --padding-left: 20px;
    --padding-right: 20px;
  }

  .elementor-22581 .elementor-element.elementor-element-64597584 .elementor-heading-title {
    font-size: 38px;
  }

  .elementor-22581 .elementor-element.elementor-element-5f2c30fa {
    --flex-wrap: nowrap;
  }

  .elementor-22581 .elementor-element.elementor-element-4670b1fd {
    width: var(--container-widget-width, 35%);
    max-width: 35%;
    --container-widget-width: 35%;
    --container-widget-flex-grow: 0;
    text-align: center;
  }

  .elementor-22581 .elementor-element.elementor-element-4670b1fd > .elementor-widget-container {
    padding: 5px 0px 5px 0px;
  }

  .elementor-22581 .elementor-element.elementor-element-4670b1fd.elementor-element {
    --align-self: center;
  }

  .elementor-22581 .elementor-element.elementor-element-3cb97ab4 {
    width: var(--container-widget-width, 30%);
    max-width: 30%;
    --container-widget-width: 30%;
    --container-widget-flex-grow: 0;
  }

  .elementor-22581 .elementor-element.elementor-element-3cb97ab4 .elementor-heading-title {
    font-size: 35px;
  }

  .elementor-22581 .elementor-element.elementor-element-54acc476 {
    width: var(--container-widget-width, 35%);
    max-width: 35%;
    --container-widget-width: 35%;
    --container-widget-flex-grow: 0;
    text-align: center;
  }

  .elementor-22581 .elementor-element.elementor-element-54acc476 > .elementor-widget-container {
    padding: 5px 0px 5px 0px;
  }

  .elementor-22581 .elementor-element.elementor-element-54acc476.elementor-element {
    --align-self: center;
  }

  .elementor-22581 .elementor-element.elementor-element-74300e64 .elementor-heading-title {
    font-size: 26px;
  }

  body:not(.rtl)
    .elementor-22581
    .elementor-element.elementor-element-1b387eb
    .elementor-countdown-item:not(:first-of-type) {
    margin-left: calc(10px / 2);
  }

  body:not(.rtl)
    .elementor-22581
    .elementor-element.elementor-element-1b387eb
    .elementor-countdown-item:not(:last-of-type) {
    margin-right: calc(10px / 2);
  }

  body.rtl .elementor-22581 .elementor-element.elementor-element-1b387eb .elementor-countdown-item:not(:first-of-type) {
    margin-right: calc(10px / 2);
  }

  body.rtl .elementor-22581 .elementor-element.elementor-element-1b387eb .elementor-countdown-item:not(:last-of-type) {
    margin-left: calc(10px / 2);
  }

  .elementor-22581 .elementor-element.elementor-element-1b387eb .elementor-countdown-digits {
    font-size: 20px;
  }

  .elementor-22581 .elementor-element.elementor-element-1b387eb .elementor-countdown-label {
    font-size: 14px;
  }

  .elementor-22581 .elementor-element.elementor-element-582536c1 {
    --padding-top: 50px;
    --padding-bottom: 50px;
    --padding-left: 10px;
    --padding-right: 10px;
  }

  .elementor-22581 .elementor-element.elementor-element-42132563 {
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
  }

  .elementor-22581 .elementor-element.elementor-element-4d7d7872 {
    --gap: 10px 10px;
    --row-gap: 10px;
    --column-gap: 10px;
    --padding-top: 30px;
    --padding-bottom: 20px;
    --padding-left: 10px;
    --padding-right: 10px;
  }

  .elementor-22581 .elementor-element.elementor-element-3ca1f413 > .elementor-widget-container {
    padding: 5px 5px 5px 5px;
  }

  .elementor-22581 .elementor-element.elementor-element-3ca1f413 .elementor-heading-title {
    font-size: 24px;
  }

  .elementor-22581 .elementor-element.elementor-element-6544f6f9 {
    --width: 95%;
    --padding-top: 20px;
    --padding-bottom: 20px;
    --padding-left: 20px;
    --padding-right: 20px;
  }

  .elementor-22581 .elementor-element.elementor-element-18a9a885 {
    --container-widget-width: 100%;
    --container-widget-flex-grow: 0;
    width: var(--container-widget-width, 100%);
    max-width: 100%;
  }

  .elementor-22581 .elementor-element.elementor-element-77d49543 .elementor-heading-title {
    font-size: 14px;
    line-height: 1.5em;
  }

  .elementor-22581 .elementor-element.elementor-element-2d16e6d0 .elementor-heading-title {
    line-height: 1.5em;
  }

  .elementor-22581 .elementor-element.elementor-element-1c3ae071 {
    --gap: 0px 0px;
    --row-gap: 0px;
    --column-gap: 0px;
    --flex-wrap: nowrap;
  }

  .elementor-22581 .elementor-element.elementor-element-15f07f27 {
    width: var(--container-widget-width, 25%);
    max-width: 25%;
    --container-widget-width: 25%;
    --container-widget-flex-grow: 0;
    text-align: center;
  }

  .elementor-22581 .elementor-element.elementor-element-15f07f27 > .elementor-widget-container {
    padding: 5px 0px 5px 0px;
  }

  .elementor-22581 .elementor-element.elementor-element-15f07f27.elementor-element {
    --align-self: center;
  }

  .elementor-22581 .elementor-element.elementor-element-78f6e038 {
    width: var(--container-widget-width, 50%);
    max-width: 50%;
    --container-widget-width: 50%;
    --container-widget-flex-grow: 0;
  }

  .elementor-22581 .elementor-element.elementor-element-78f6e038 .elementor-heading-title {
    font-size: 37px;
  }

  .elementor-22581 .elementor-element.elementor-element-518f1593 {
    width: var(--container-widget-width, 25%);
    max-width: 25%;
    --container-widget-width: 25%;
    --container-widget-flex-grow: 0;
    text-align: center;
  }

  .elementor-22581 .elementor-element.elementor-element-518f1593 > .elementor-widget-container {
    padding: 5px 0px 5px 0px;
  }

  .elementor-22581 .elementor-element.elementor-element-518f1593.elementor-element {
    --align-self: center;
  }

  .elementor-22581 .elementor-element.elementor-element-257d889b .elementor-heading-title {
    font-size: 14px;
    line-height: 1.5em;
  }

  .elementor-22581 .elementor-element.elementor-element-753926d {
    --width: 95%;
    --padding-top: 20px;
    --padding-bottom: 20px;
    --padding-left: 20px;
    --padding-right: 20px;
  }

  .elementor-22581 .elementor-element.elementor-element-bcb206d {
    --container-widget-width: 100%;
    --container-widget-flex-grow: 0;
    width: var(--container-widget-width, 100%);
    max-width: 100%;
  }

  .elementor-22581 .elementor-element.elementor-element-e20e5d6 .elementor-heading-title {
    font-size: 14px;
    line-height: 1.5em;
  }

  .elementor-22581 .elementor-element.elementor-element-128b803 .elementor-heading-title {
    line-height: 1.5em;
  }

  .elementor-22581 .elementor-element.elementor-element-e39a3a2 {
    --gap: 0px 0px;
    --row-gap: 0px;
    --column-gap: 0px;
    --flex-wrap: nowrap;
  }

  .elementor-22581 .elementor-element.elementor-element-68fafb3 {
    width: var(--container-widget-width, 25%);
    max-width: 25%;
    --container-widget-width: 25%;
    --container-widget-flex-grow: 0;
    text-align: center;
  }

  .elementor-22581 .elementor-element.elementor-element-68fafb3 > .elementor-widget-container {
    padding: 5px 0px 5px 0px;
  }

  .elementor-22581 .elementor-element.elementor-element-68fafb3.elementor-element {
    --align-self: center;
  }

  .elementor-22581 .elementor-element.elementor-element-c0d8529 {
    width: var(--container-widget-width, 50%);
    max-width: 50%;
    --container-widget-width: 50%;
    --container-widget-flex-grow: 0;
  }

  .elementor-22581 .elementor-element.elementor-element-c0d8529 .elementor-heading-title {
    font-size: 37px;
  }

  .elementor-22581 .elementor-element.elementor-element-21d5b91 {
    width: var(--container-widget-width, 25%);
    max-width: 25%;
    --container-widget-width: 25%;
    --container-widget-flex-grow: 0;
    text-align: center;
  }

  .elementor-22581 .elementor-element.elementor-element-21d5b91 > .elementor-widget-container {
    padding: 5px 0px 5px 0px;
  }

  .elementor-22581 .elementor-element.elementor-element-21d5b91.elementor-element {
    --align-self: center;
  }

  .elementor-22581 .elementor-element.elementor-element-eeabbc1 .elementor-heading-title {
    font-size: 14px;
    line-height: 1.5em;
  }

  .elementor-22581 .elementor-element.elementor-element-13a8c63c {
    --padding-top: 50px;
    --padding-bottom: 50px;
    --padding-left: 10px;
    --padding-right: 10px;
  }

  .elementor-22581 .elementor-element.elementor-element-7da0439d > .elementor-widget-container {
    margin: -5px 0px 0px 0px;
  }

  .elementor-22581 .elementor-element.elementor-element-7da0439d .elementor-heading-title {
    font-size: 13px;
  }

  .elementor-22581 .elementor-element.elementor-element-7cbe0493 {
    --padding-top: 50px;
    --padding-bottom: 50px;
    --padding-left: 10px;
    --padding-right: 10px;
  }

  .elementor-22581 .elementor-element.elementor-element-4bef3884 > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
  }

  .elementor-22581 .elementor-element.elementor-element-4bef3884 .elementor-heading-title {
    line-height: 1.2em;
  }

  .elementor-22581 .elementor-element.elementor-element-3f0ddbfe {
    --gap: 5px 5px;
    --row-gap: 5px;
    --column-gap: 5px;
    --flex-wrap: nowrap;
  }

  .elementor-22581 .elementor-element.elementor-element-791f2a52 {
    --padding-top: 50px;
    --padding-bottom: 50px;
    --padding-left: 10px;
    --padding-right: 10px;
  }

  .elementor-22581 .elementor-element.elementor-element-2de02c0d .elementor-heading-title {
    font-size: 38px;
  }

  .elementor-22581 .elementor-element.elementor-element-4595b753 .elementor-heading-title {
    line-height: 1.5em;
  }

  .elementor-22581 .elementor-element.elementor-element-151c5b3b > .elementor-widget-container {
    margin: 50px 0px 0px 0px;
  }

  .elementor-22581 .elementor-element.elementor-element-1e120b02 {
    --grid-side-margin: 10px;
    --grid-column-gap: 10px;
    --grid-row-gap: 10px;
    --grid-bottom-margin: 10px;
  }

  .elementor-22581 .elementor-element.elementor-element-653aa5a7 {
    --container-widget-width: 42px;
    --container-widget-flex-grow: 0;
    width: var(--container-widget-width, 42px);
    max-width: 42px;
    bottom: 10px;
  }

  body:not(.rtl) .elementor-22581 .elementor-element.elementor-element-653aa5a7 {
    left: 10px;
  }

  body.rtl .elementor-22581 .elementor-element.elementor-element-653aa5a7 {
    right: 10px;
  }

  .elementor-22581 .elementor-element.elementor-element-22f2eebf .elementor-heading-title {
    line-height: 1.5em;
  }
}

/* Start custom CSS for html, class: .elementor-element-3871d4e6 */
.heartbeat {
  -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
  animation: heartbeat 1.5s ease-in-out infinite both;
}

@keyframes heartbeat {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

/* End custom CSS */
/* Start custom CSS for html, class: .elementor-element-653aa5a7 */
.fa-play {
  margin-left: -5px;
  color: #fff;
}

.fa-play:hover,
.fa-pause:hover {
  color: #fff;
}

.elementor-22581 .elementor-element.elementor-element-653aa5a7 button:hover {
  color: #fff;
}

/* End custom CSS */
